.card.talk-item {
    margin: -10px 10px;
    border: none;
    border-radius: 8px;
    color: #000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: static;
    cursor: pointer;
}

.card.talk-item.red-border {
    box-shadow: 4px 4px 20px #e60304;
}

.card.talk-item .card-title {
    font-weight: bold;
}

.card.talk-item h6 {
    color: #a4b9d2;
}

.card.talk-item .card-text {
    color: #727272;
    font-size: 0.875rem;
}

.badge.badge-primary {
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #326ab0;
}

/* Heart icon */

.heart.icon {
    color: #e60304;
    margin-top: 6px;
    margin-left: 5px;
    width: 9px;
    height: 9px;
    border-left: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .heart.icon:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -1px;
    width: 8px;
    height: 5px;
    border-radius: 5px 5px 0 0;
    border-top: solid 1px currentColor;
    border-left: solid 1px currentColor;
    border-right: solid 1px currentColor;
  }
  .heart.icon:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 8px;
    width: 5px;
    height: 8px;
    border-radius: 0 5px 5px 0;
    border-top: solid 1px currentColor;
    border-right: solid 1px currentColor;
    border-bottom: solid 1px currentColor;
  }
