.card.talk-item {
    margin: -10px 10px;
    border: none;
    border-radius: 8px;
    color: #000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    position: static;
    cursor: pointer;
}

.card.talk-item.red-border {
    box-shadow: 4px 4px 20px #e60304;
}

.card.talk-item .card-title {
    font-weight: bold;
}

.card.talk-item h6 {
    color: #a4b9d2;
}

.card.talk-item .card-text {
    color: #727272;
    font-size: 0.875rem;
}

.badge.badge-primary {
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 5px;
    background-color: #326ab0;
}

.card-footer span {
    line-height: 2rem;
}

/* Arrow icon */
.arrow {
    float: right;
    height: 30px;
    position: relative;
    width: 30px;
}

.arrow.right-arrow {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.arrow .arrow-bar {
    border-radius: 9% / 3%;
    background: #ddd;
    height: 69%;
    left: 35%;
    position: absolute;
    width: 18%;
}

.arrow .arrow-bar-1{
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
}

.arrow .arrow-bar-2 {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 32%;
}
  