body {
  background-color: #efedf8 !important;
}

.row {
  margin-left: -8px !important;
  margin-right: 0 !important;
}

h1 {
  text-align: center;
}

.logo {
  height: 80px;
  pointer-events: none;
  margin-bottom: 10px;
}

.header {
  text-align: center;
  background-color: #efedf8 /*#2c3e50*/;
  color: #1d1d1d;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -4;
  padding-top: 1rem;
}

.App {
  z-index: 9;
  background-color: #efedf8;
  padding-bottom: 60px;
}

.title-row {
  margin-top: 60px;
  margin-bottom: -30px;
  text-align: center;
  flex-flow: column-reverse;
}

.title-row {
    color: #efedf8;
    background-color: #e60304 !important;
    display: inline-block;
    border: 1px solid transparent;
    margin-bottom: 0px;
    padding: 0.175rem 0.75rem;
    width: 100%;
}

.container.main-container {
  margin-top: 210px;
  padding-top: 5px;
  padding-right: 0;
  padding-bottom: 100px;
  border-top: 2px solid #dadadada;
}

footer {
  background: url(/assets/img/audience.png) no-repeat fixed;
  background-position: bottom center;
  height: 50vh;
  background-size: contain;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

@-webkit-keyframes bounceInUp {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

@keyframes bounceInUp {
	0%,
	100%,
	60%,
	75%,
	90% {
		-webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
		transition-timing-function: cubic-bezier(.215, .61, .355, 1)
	}
	0% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3000px, 0);
		transform: translate3d(0, 3000px, 0)
	}
	60% {
		opacity: 1;
		-webkit-transform: translate3d(0, -20px, 0);
		transform: translate3d(0, -20px, 0)
	}
	75% {
		-webkit-transform: translate3d(0, 10px, 0);
		transform: translate3d(0, 10px, 0)
	}
	90% {
		-webkit-transform: translate3d(0, -5px, 0);
		transform: translate3d(0, -5px, 0)
	}
	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

.bounceInUp {
	-webkit-animation-name: bounceInUp;
	animation-name: bounceInUp
}