.tab-list {
    padding-left: 0;
    font-size: x-large;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    width: 50%;
    text-align: center;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor: pointer;
    color: #1d1d1d;

  }
  
  .tab-list-active {
      border-bottom: 2px solid #1d1d1d;
      
    background-color: #1d1d1d;
    color: #FFF;
    border-radius: 8px;
  }